<form action="sum" method="POST">
    <div>
        <label>First number</label><br>
        <input type="number" name="one" min='1'>
    </div>
    <div>
        <label>Second number</label><br>
        <input type="number" name="two" min='1'>
    </div>
    <br>
    <button type="submit">Submit</button>
</form>